<div class="find">
  <form action="/movies" method="get">
    <input type="title" name="title" placeholder="Enter name of movie" value="<%= @movie%>">
    <button>Search</button>
  </form>
</div>

<!-- <div class="movie">
  <div class="movieimg">
    <img class="poster" src = <%= @poster %> >
  </div>
    <% if @movie_director != nil %>
      <h3 > Directed By </h3>
    <% end %>
    <p class="director" > <%= @director%> </p>

    <% if @movie_actors!= nil %>
      <h3> Actors </h3>
    <% end %>
      <p class="actors" > <%= @actors%> </p>

    <% if @movie_plot!= nil %>
      <h3> Plot </h3>
    <% end %>
      <p class="plot" > <%= @plot%> </p>
  </div> -->
